// =========== Header section css start=================
nav {
  position: absolute;
  width: 100%;
  background: white;
  .header_navbar {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 10px;
    li {
      display: inline-block;
      a {
        color: $color-secondary;
        font-size: 18px;
        line-height: 35px;
        font-family: "Gilroy_semibold";
        font-weight: 600;
        padding: 0 20px;
        border-radius: 0px;
        text-align: center;
        display: inline-block;
        img {
          display: block;
          height: 18px;
          margin: 0px auto;
        }
      }
    }
  }
}
// =========== Header section css end=================
// =========== Hero section css start=================
#hero-section {
  background: url("../images/hero-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0px;
  .hero-content {
    text-align: center;
    .nav {
      background-color: $color-white;
      display: inline-block;
      text-align: center;
      padding: 0px 60px;
      border-radius: 10px;
      .nav-item {
        display: inline-block;
        .nav-link {
          color: $color-secondary;
          font-size: 18px;
          line-height: 65px;
          font-family: "Gilroy_semibold";
          font-weight: 600;
          padding: 0 20px;
          border-radius: 0px;
          &.active {
            background-color: transparent;
            border-bottom: 1px solid $color-secondary;
          }
          img {
            height: 18px;
            padding-right: 10px;
          }
        }
      }
    }
    .tab-content {
      background: $color-white;
      padding: 50px 30px;
    }
  }
}
// =========== Hero section css end =================
