/* Typography Reset */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
h6 {
  font-family: "Gilroy_semibold";
}
h1,
.h1 {
  font-size: 40rem;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 18px;
}
ul{
  padding-left: 0rem;
}